@font-face {
  font-family: 'twaysky';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.typography {
  transform: skewY(-11deg);
  color: hsl(237, 20%, 52%);
  text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%),
    0 3px 0 hsl(174, 5%, 70%), 0 4px 0 hsl(174, 5%, 66%),
    0 5px 0 hsl(174, 5%, 64%), 0 6px 0 hsl(174, 5%, 62%),
    0 7px 0 hsl(174, 5%, 61%), 0 8px 0 hsl(174, 5%, 60%),
    0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
}

.itemBox {
  width: auto;
  height: auto;
}

.paper {
  transform: skewY(-11deg);
  width: auto;
  height: 5rem;
  position: relative;
  text-align: center;
  vertical-align: middle;
  box-shadow: 10px 10px 10px 10px gray;
}

.keyword {
  font-family: 'twaysky';
  padding-top: 20px;
  vertical-align: middle;
  font-size: 100%;
  max-width : 100%;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 30px 50px 30px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.keyword::after {
  content: '';
  background-color: #ffee8c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.keyword:hover {
  border: 1px solid rgb(0, 0, 0);
}

.keyword:hover::after {
  top: 0px;
  left: 0px;
  background-color: #ffe347;
}
