body{
	background-image: url('./main_page.jpg');
	transform: skewY(-11deg);
	background-repeat: no-repeat;
	background-position: 40vw;
	background-attachment: fixed;
	background-size: 70%;
}

.itemBox {
	width: auto;
	height: auto;
}

.paper {
	width: auto;
	height: 5rem;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

.keyword {
	padding-top: 1.5em;
	vertical-align: middle;
	background-color: transparent;
}

.typography {
	font-family: "KOTRAHOPE";
}
