body {
<<<<<<< HEAD
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background : linear-gradient(45deg, #ffffff, #777777);
  transform: skewY(-11deg);
  background-repeat: no-repeat;
  background-position: 40vw;
  background-attachment: fixed;
  background-size: 70%;
=======
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-image: url("./home/main_page.jpg");
	transform: skewY(-11deg);
	background-repeat: no-repeat;
	background-position: 40vw;
	background-attachment: fixed;
	background-size: 70%;
>>>>>>> 65708f8087dba1769d481460a7cddd78cd310838
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
