body {
<<<<<<< HEAD
<<<<<<< HEAD
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('./home/main_page.jpg');
  transform: skewY(-11deg);
  background-repeat: no-repeat;
  background-position: 40vw;
  background-attachment: fixed;
  background-size: 70%;
=======
=======
>>>>>>> 50645d87285c89f682a0558bdd2d91b00a20dc6c
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-image: url("./home/main_page.jpg");
	transform: skewY(-11deg);
	background-repeat: no-repeat;
	background-position: 40vw;
	background-attachment: fixed;
	background-size: 70%;
<<<<<<< HEAD
>>>>>>> 50645d87285c89f682a0558bdd2d91b00a20dc6c
=======
>>>>>>> 50645d87285c89f682a0558bdd2d91b00a20dc6c
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
