@charset "utf-8";
@font-face {
	font-family: "IM_Hyemin-Bold";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);

	display: flex;
	justify-content: center;
	align-items: center;
}

.popup .container {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 32px;
	width: 40%;
	max-width: 640px;
	background-color: #fff;
	font-family: "IM_Hyemin-Bold";
	align-items: center;
}

.popup .container h1 {
	font-size: 3.5vw;
}

.popup .container .close-btn {
	background: inherit;
	border: none;
	box-shadow: none;
	border-radius: 0;
	padding: 0;
	overflow: visible;
	cursor: pointer;

	align-self: flex-end;
	font-size: 4vw;
	color: rgb(170, 170, 170);
}

/* 공유하기 그룹 */
.popup .container .group {
	display: grid;
	width: 100%;
	height: 100%;
	border: 1px solid rgb(199, 199, 199);
	border-radius: 10px;
	margin-top: 3vh;
	padding: 6vw 2vw;

	grid-template-rows: repeat(4, 10vh);
	grid-template-columns: 1fr 1fr;
}

.popup .container .group h3 {
	place-self: center center;
}

.popup .container .group a {
	display: grid;
}

.popup .container .group a img {
	width: 25%;
	place-self: center center;
}
